@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
--primary: #6CC832;
--secondary: #1A3A05;
--accent: #90fc47;
} 


.dark input::placeholder{
    color: rgba(255, 255, 255, 0.507)
}
input::placeholder{
    color: var(--secondary);
}